<article class="col-xs-10">
      <h1> Seja bem vindo ao Mercado do Dj </h1>
      <h5> Aqui você encontra de A a Z para decolar a sua carreira!</h5>
    <br>
    <br>
    <div class="list-group col-xs-4">
      <a ng-class="{active: activetab == '/login'}" class="list-group-item list-group-item-danger" href="/login">Login</a>
    </div>
    <div class="list-group col-xs-4">
      <a ng-class="{active: activetab == '/register'}" class="list-group-item list-group-item-danger" href="/register">Registrar</a>
    </div>     
  </article>